<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front magniminders</title>
</head>
<body>
    <h1>Cadastro de Novo Evento:</h1>
    <div>
        <link href="./frame4.css" rel="stylesheet" />
        <div>
          <div class="frame4-frame4">
            <div class="frame4-telade-operao">
              <div class="frame4-contedo">
                <div class="frame4-telade-status">
                  <img
                    alt="TeladeStatus1810"
                    src="/playground_assets/teladestatus1810-umg-700h.png"
                    class="frame4-telade-status1"
                  />
                  <span class="frame4-text"><span>Status:</span></span>
                  <span class="frame4-text02">
                    <span>Status dos Componentes:</span>
                  </span>
                  <span class="frame4-text04"><span>Função Rodando:</span></span>
                  <span class="frame4-text06"><span>Imã:</span></span>
                  <span class="frame4-text08"><span>y=30</span></span>
                  <span class="frame4-text10"><span>x=20</span></span>
                  <span class="frame4-text12"><span>z=50</span></span>
                  <span class="frame4-text14"><span>Voltagem Atual: 12v</span></span>
                  <span class="frame4-text16"><span>Peso no braço:</span></span>
                  <span class="frame4-text18"><span>Peso: 167 g</span></span>
                  <span class="frame4-text20">
                    <span>Peso na Bandeja Final:</span>
                  </span>
                  <span class="frame4-text22"><span>Peso: 342 g</span></span>
                  <img
                    alt="Line22514"
                    src="/playground_assets/line22514-ly7.svg"
                    class="frame4-line2"
                  />
                  <span class="frame4-text24">
                    <span>def Varredura(referencia_zero):</span>
                  </span>
                </div>
                <div class="frame4-frame3">
                  <div class="frame4-controlede-movimento">
                    <div class="frame4-controlede-coordenadas">
                      <span class="frame4-text26">
                        <span>Controle de Coordenadas</span>
                      </span>
                      <div class="frame4-avano">
                        <span class="frame4-text28"><span>Avanço* :</span></span>
                        <img
                          alt="Rectangle12I472"
                          src="/playground_assets/rectangle12i472-pbs-200h.png"
                          class="frame4-rectangle12"
                        />
                      </div>
                      <div class="frame4-coordenadas-xyz">
                        <div class="frame4-controle-xy">
                          <div class="frame4-frame1">
                            <div class="frame4-x">
                              <img
                                alt="Rectangle16I395"
                                src="/playground_assets/rectangle16i395-86x7-200w.png"
                                class="frame4-rectangle16"
                              />
                              <span class="frame4-text30"><span>X-</span></span>
                            </div>
                            <div class="frame4-x1">
                              <img
                                alt="Rectangle13I395"
                                src="/playground_assets/rectangle13i395-ov6s-200w.png"
                                class="frame4-rectangle13"
                              />
                              <span class="frame4-text32"><span>X+</span></span>
                            </div>
                          </div>
                          <div class="frame4-frame2">
                            <div class="frame4-y">
                              <img
                                alt="Rectangle15I395"
                                src="/playground_assets/rectangle15i395-m9ev-200h.png"
                                class="frame4-rectangle15"
                              />
                              <span class="frame4-text34"><span>Y+</span></span>
                            </div>
                            <div class="frame4-y1">
                              <img
                                alt="Rectangle14I395"
                                src="/playground_assets/rectangle14i395-retv-200h.png"
                                class="frame4-rectangle14"
                              />
                              <span class="frame4-text36"><span>Y-</span></span>
                            </div>
                          </div>
                        </div>
                        <div class="frame4-controle-z">
                          <img
                            alt="Rectangle11I395"
                            src="/playground_assets/rectangle11i395-4x-200w.png"
                            class="frame4-rectangle11"
                          />
                          <img
                            alt="Rectangle12I395"
                            src="/playground_assets/rectangle12i395-dd85-200w.png"
                            class="frame4-rectangle121"
                          />
                          <div class="frame4-x2">
                            <span class="frame4-text38"><span>Z+</span></span>
                          </div>
                          <div class="frame4-y2">
                            <span class="frame4-text40"><span>Z-</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame4-confg-atuador">
                      <span class="frame4-text42">
                        <span>Controle de Atuadores</span>
                      </span>
                      <div class="frame4-coordenadas-xyz1">
                        <div class="frame4-controle-z1">
                          <img
                            alt="Rectangle11I396"
                            src="/playground_assets/rectangle11i396-e2uo-200h.png"
                            class="frame4-rectangle111"
                          />
                          <img
                            alt="Rectangle12I396"
                            src="/playground_assets/rectangle12i396-lz1-200h.png"
                            class="frame4-rectangle122"
                          />
                          <div class="frame4-x3">
                            <span class="frame4-text44"><span>R+</span></span>
                          </div>
                          <div class="frame4-y3">
                            <span class="frame4-text46"><span>R-</span></span>
                          </div>
                        </div>
                      </div>
                      <div class="frame4-r">
                        <span class="frame4-text48"><span>R=</span></span>
                      </div>
                      <div class="frame4-checkbox">
                        <div class="frame4-pneumtica">
                          <div class="frame4-controls-place-checkbox">
                            <div class="frame4-controls-place-checkbox1">
                              <div class="frame4-controls-checkbox-disabled-checked">
                                <div
                                  class="frame4-controls-checkbox-disabled-checked1"
                                >
                                  <div class="frame4-icon">
                                    <div class="frame4-icon-check">
                                      <div class="frame4-icon-fill-dark">
                                        <img
                                          alt="IconFillDarkI241"
                                          src="/playground_assets/iconfilldarki241-88i-200h.png"
                                          class="frame4-icon-fill-dark1"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="frame4-controls-global-label">
                                <div class="frame4-controls-global-label1">
                                  <span class="frame4-text50">
                                    <span>Pneumático</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <img
                            alt="Rectangle46I241"
                            src="/playground_assets/rectangle46i241-oj3b-200h.png"
                            class="frame4-rectangle46"
                          />
                        </div>
                      </div>
                      <div class="frame4-barra-deslizante">
                        <img
                          alt="Line2I472"
                          src="/playground_assets/line2i472-kqff.svg"
                          class="frame4-line21"
                        />
                        <img
                          alt="Ellipse1I472"
                          src="/playground_assets/ellipse1i472-93m5-200h.png"
                          class="frame4-ellipse1"
                        />
                        <span class="frame4-text52"><span>Min:___</span></span>
                        <span class="frame4-text54"><span>Max:___</span></span>
                        <span class="frame4-text56"><span>___</span></span>
                        <span class="frame4-text58"><span>Voltagem:</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame4-grupode-botes">
                <div class="frame4-refernciar">
                  <span class="frame4-text60"><span>Referênciar</span></span>
                </div>
                <div class="frame4-parade-emergncia">
                  <span class="frame4-text62">Parada Emergência</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
</body>
</html>