<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>IPT - Aplicação</title>
</head>
<body>
    <div class="base">
        <div class="parametros bloco">
          <h1>Posicione o robo para o ensaio e aperter salvar pose:</h1>
          <form action="criar" method="post"> 
            <label for="ensaio">Ensaio:</label>
            <input id="ensaio" name="ensaio"><br><br> 
            <label for="vrr">N° de varreduras:</label>
            <input type="number" id="vrr" name="vrr"><br><br>
            <label for="cic">N° de ciclos:</label>
            <input type="number" id="cic" name="cic"><br><br> 
            <button type="submit" value="Adicionar">Criar Ensaio!</button>
            
          </form>
        
            <form action="b1" method="post">
                  <button type="submit" value="Adicionar">Salvar B1</button>
            </form>
            <form action="b1_e" method="post">
                  <button type="submit" value="Adicionar">Extremidade B1</button>
            </form>
            <form action="b2" method="post">              
                  <button type="submit" value="Adicionar">Salvar B2</button>
            </form>
            <form action="b2_e" method="post">              
                  <button type="submit" value="Adicionar">Extremidade B2</button>
            </form>
            <form action="b3" method="post">             
                  <button type="submit" value="Adicionar">Salvar B3</button>
            </form>
            <form action="b3_e" method="post"> 
                  <button type="submit" value="Adicionar">Extremidade B3</button>
            </form>
            <form action="finalizar" method="post">
                  <label for="id_ensaio">Ensaio a iniciar:</label>
                  <input type="number" id="id_ensaio" name="id_ensaio">
                  <button type="submit" value="Adicionar">INICIAR!</button>
            </form>
            <br>
            <div class="led bloco">
                <form action='led' method='POST'>               
                  <button class='onButton' onclick="ledOn()" name="on" value="on">on</button>
                  <button class='offButton' onclick="ledOff()" name="off" value="off">off</button>
                </form>
            
        <div class="tela">
            <h1>Teste grupo</h1>
        </div>
    </div>
</body>
</html>