<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>IPT - Aplicação</title>
</head>
<body>
    <div class="base">
        <div class="parametros bloco">
            <form action="criar" method="post">
                <h1>Posicione o robo para o ensaio e aperter salvar pose:</h1>
                    <button type="submit" value="Adicionar">Salvar pose</button>
            </form>
            <form action="finalizar" method="post">
                  <label for="x">Dimensôes das bandejas: </label>
                  <input type="number" id="bd1" name="bd1"><br><br>
                  <input type="number" id="bd2" name="bd2"><br><br>
                  <label for="z">N° de varreduras:</label>
                  <input type="number" id="vrr" name="vrr"><br><br>
                  <label for="z">N° de ciclos:</label>
                  <input type="number" id="cic" name="cic"><br><br> 
                  <button type="submit" value="Adicionar">INICIAR!</button>
          </form>
            <br>
              <!-- <button class='onButton' onclick="subir()" name="subir" value="subir">subir</button> -->
            <div class="led bloco">
                <form action='led' method='POST'>
                
                  <button class='onButton' onclick="ledOn()" name="on" value="on">on</button>
                  <button class='offButton' onclick="ledOff()" name="off" value="off">off</button>
                </form>
            </div>
            <table>
              <tr>
                <td>x1</td>
                <td>y1</td>
                <td>z1</td>
              </tr>
            {% for posicao in posicoes%}
              <tr>
                <td>{{posicao.x1}}</td>
                <td>{{posicao.y1}}</td>
                <td>{{posicao.z1}}</td>
              </tr>
            {% endfor %}
            {% for ensaio in ensaios%}
              <tr>
                <td>{{ensaio.bd1}}</td>
                <td>{{ensaio.bd2}}</td>
                <td>{{ensaio.vrr}}</td>
                <td>{{ensaio.cic}}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
        <div class="tela">
            <h1>Teste grupo</h1>
        </div>
    </div>
</body>
</html>